*{
    margin: 0;
    padding: 0;
}

body{
    margin: 3% 25% 3% 25%;
    font-family: sans-serif;
}
h1{
    margin-bottom: 3%;
}
.form{
    margin: 3% 0% 3% 0%;
}

.ultimoResultado{
    margin: 3% 0% 3% 0%;
}

